@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-thin-straight/css/uicons-thin-straight.css');

.gradient-text {
    background: linear-gradient(90deg, #4a90e2, #d4145a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    list-style-type: none;
}